@model List<Category>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row text-center">
        <h2 class="text-primary">Welcome to the Nikita Blog Post App!</h2>
    </div>

    <div class="text-center">
        <a asp-controller="Post" asp-action="Upsert" class=" btn btn-primary">New Post</a>
    </div>

    
</div>
